/* ================= TABLE WRAPPER ================= */

.table-container {
  width: 100%;
  margin-top: 40px;
  padding: 25px;
  border-radius: 18px;
  border: 2px solid #3b82f6;
  background: transparent;
  backdrop-filter: blur(12px);
  animation: floatIn 0.8s ease forwards;
}

/* ================= TITLE ================= */

.table-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 800;
  color: #60a5fa;
}

/* ================= TABLE ================= */

table {
  width: 100%;
  border-collapse: collapse;
  background: transparent;   /* 🔥 removed white bg */
  color: white;
}

/* ================= HEADER ================= */

thead {
  background: rgba(59, 130, 246, 0.15);
}

th {
  padding: 14px 10px;
  font-size: 13px;
  font-weight: 600;
  color: #93c5fd;
  text-transform: uppercase;
  border-bottom: 1px solid #3b82f6;
}

/* ================= BODY ================= */

td {
  padding: 12px 10px;
  font-size: 13px;
  border-bottom: 1px solid #1e293b;
  text-align: center;
}


tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.03);
}


tbody tr:hover {
  background: rgba(59, 130, 246, 0.1);
  transition: 0.3s ease;
}





@keyframes floatIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.table-container {
  overflow-x: auto;
}



.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.loader {
  width: 45px;
  height: 45px;
  border: 4px solid rgba(59, 130, 246, 0.2);
  border-top: 4px solid #3b82f6;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.reading-value {
  color: rgb(0, 255, 42);
  font-weight: 600;
}
.patient-name {
  color: #4fc3f7;
  font-weight: 700;

}

.delete-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background: #ef4444;
  color: white;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.delete-btn:hover {
  background: #dc2626;
}

.name {
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-shadow: 0 0 6px rgba(96, 165, 250, 0.6);
}